<%= form_with model: @book, local: true do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>

  <%= f.label :author %><br>
  <%= f.text_field :author %><br>

  <%= f.label :genre %><br>
  <%= f.text_field :genre %><br>

  <%= f.label :year %><br>
  <%= f.number_field :year %><br>

  <%= f.label :synopsis %><br>
  <%= f.text_area :synopsis %><br>

  <%= f.label :details %><br>
  <%= f.text_area :details %><br>

  <div class="mb-3">
    <%= f.label :image, "Portada del Libro", class: "form-label fw-bold" %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <%= f.submit %>
<% end %>
